---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Über mich";

const identity = {
  firstName: "Sarah",
  country: "Deutschland",
  occupation: "FI AE",
  hobbies: ["Die Mira - meine kleine Hundedame", "Gaming", "Meditation"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "C#", "WPF/xaml", "SQL"];

const happy = true;
const finished = false;

const skillColor = "white";
const fontWeight = "bold";
const textCase = "uppercase";

---
<BaseLayout pageTitle={pageTitle}>
  <body>
  <style define:vars={{skillColor, fontWeight, textCase}}>
    h3 {
        color: purple;
        font-size: 1rem;
      }
    
  </style>
   
    <h3>Mein Werdegang und Persönliches:</h3>

    <p>Ich arbeite mich gerade durch das Astro-Einführungstutorial.<br> 
    Im Rahmen des Tutorials habe ich auch diese Website erstellt.</p>

    <p>Diese Seite wird aktualisiert, sobald ich weitere Teile des Tutorials abgeschlossen habe.<br> Schauen Sie also gerne immer wieder vorbei um zu sehen, wie sich mein Fortschritt entwickelt!</p>

    <h3>Einige Fakten über mich:</h3>
<ul>
  <li>Mein Name ist {identity.firstName}.</li>
  <li>Ich lebe in {identity.country} in der Stadt Erlangen.
  <li>Momentan mache ich eine Umschulung zur {identity.occupation}.</li>
  {identity.hobbies.length >= 3 &&
  <li>Meine Hobbys sind: {identity.hobbies[0]},  {identity.hobbies[1]} und {identity.hobbies[2]}</li>
  }

</ul>
<h3>Einige meiner neu erlernten Fähigkeiten sind:</h3>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>

{happy && <p>Ich freue mich, Astro zu lernen und meine Kenntnisse in der Webentwicklung zu erweitern.</p>}

{finished && <p>Mein Ziel ist es, die Umschulung erfolgreich abzuschließen und diese Seite aktuell zu halten. </p>}
</body>
</BaseLayout>

